
.header{
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-size: 14px;
}

.header img{
    width:200px
}

.header nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.header-nav li{
    margin: 10px; 
}

.header-nav li a{
    color: #ffff;
    text-decoration: none;
}